*{
    font-family : 'Roboto', sans-serif;
}

body{
    background-color: #CBE896;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: #AAC0AA;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container >.block{
    padding: 20px;
}

.block{
   color: #A18276;
}